@import './tailwind.css';
@import 'react-toastify/dist/ReactToastify.css';
@import 'swiper/swiper-bundle.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Add this in your CSS file */
.mySwiperThumbs {
  margin-top: 1rem;
}

.mySwiperThumbs .swiper-slide {
  opacity: 0.4; /* Decrease opacity of unselected thumbnails */
  transition: opacity 0.3s;
}

.mySwiperThumbs .swiper-slide-thumb-active {
  opacity: 1; /* Full opacity for selected thumbnail */
}
